<!-- <%= image_tag("emergency.png", :alt => "emergency icon") %> -->
<div class="row">
  <h1>Your Badges</h1>
  <h3>Click to redeem rewards and receive a coupon by email</h3>
</div>

<div class="row rewards-row">
  <div class="small-3 column">
    <a href="#">
      <div class="desc wholefoods">10% off Whole Foods (non alcoholic)</div>
      <div class="points">50 Points</div>
    </a>
  </div>

  <div class="small-3 column">
    <a href="#">
      <div class="desc kashi">10% Kashi</div>
      <div class="points">50 Points</div>
    </a>
  </div>

  <div class="small-3 column">
    <a href="#">
      <div class="desc solixir">Free Bottle of Solixir</div>
      <div class="points">10 Points</div>
    </a>
  </div>

  <div class="small-3 column">
    <a href="#">
      <div class="desc pfitness">1 week trial at Planet Fitness</div>
      <div class="points">50 Points</div>
    </a>
  </div>
</div>

<div class="row rewards-row">
  <h1>Potential Rewards</h1>

    <div class="small-3 column">
    <a href="#">
      <div class="desc wholefoods">20% off Whole Foods (non alcoholic)</div>
      <div class="points">100 Points</div>
    </a>
  </div>

  <div class="small-3 column">
    <a href="#">
      <div class="desc kashi">15% Kashi</div>
      <div class="points">75 Points</div>
    </a>
  </div>

  <div class="small-3 column">
    <a href="#">
      <div class="desc solixir">Free Case of Solixir</div>
      <div class="points">150 Points</div>
    </a>
  </div>

  <div class="small-3 column">
    <a href="#">
      <div class="desc pfitness">$50 off Planet Fitness membership</div>
      <div class="points">250 Points</div>
    </a>
  </div>
</div>
