<h1>Your Rewards</h1>
<p>Click to redeem rewards and recieve a coupon by email</p>

<ul class="small-block-grid-3">
  <li>10% off Whole Foods (non alcoholic)<!-- img --></li>
  <li>Free Case of Solixir<!-- img --></li>
  <li>$50 off Planet Fitness membership<!-- img --></li>
</ul>


<h1>Potential Rewards</h1>

<ul class="small-block-grid-3">
	 <li>Free Case of Solixir<!-- img --></li>
  <li>10% off Kashi (non alcoholic)<!-- img --></li>
  <li>$50 off Planet Fitness membership<!-- img --></li>
</ul>

