<div class="row">
  <div id="front_video" class="small-7 small-centered column"><iframe width="560" height="315" src="//www.youtube.com/embed/mgmVOuLgFB0" frameborder="0" allowfullscreen></iframe></div>
</div>
<div class="row">
  <div id="front_button" class="small-4 small-centered column center"><a href="/my_day/show" class="button">I pledge to stay sober <em>today</em></a></div>
</div>