<div class="row">
  <div class="small-12 column">
  	<div id='calendar'></div>
  </div>
</div>
<div class="row">
	<div class="small-6 column">
	  	<h2>Schedule a Meeting Today</h2>
	  	<a href="#">Meetings in your area</a>
	  	<label class="first">Previous Meetings
	        <select>
	          <option value="aa_10:00:00_fri">Alcoholics Anonymous Friday, 10am</option>
	          <option value="soa_15:00:00_mon">Survivors of abuse Monday, 3pm</option>
	        </select>
	    </label>
	    <a href="#" class="button">Add Meeting</em></a>
	  </div>
	  <div class="small-6 column">
	  	<h2>Create a Fitness Goal</h2>
	  	<a href="#">Activity Suggestions</a>
	  	<label class="first">Choose an Activity
	        <select>
	          <option value="cycling">Cycling</option>
	          <option value="walking">Walking</option>
	          <option value="running">Running</option>
	          <option value="swimming">Swimming</option>
	          <option value="hiking">Hiking</option>
	          <option value="rock_climbing">Rock Climbing</option>
	          <option value="dancing">Dancing</option>
	        </select>
	    </label>
	    <label>Choose a Time
	        <select>
	          	<option value="1am">1am</option>
				<option value="2am">2am</option>
				<option value="3am">3am</option>
				<option value="4am">4am</option>
				<option value="5am">5am</option>
				<option value="6am">6am</option>
				<option value="7am">7am</option>
				<option value="8am">8am</option>
				<option value="9am">9am</option>
				<option value="10am">10am</option>
				<option value="11am">11am</option>
				<option value="12pm">12pm</option>
				<option value="1pm">1pm</option>
				<option value="2pm">2pm</option>
				<option value="3pm">3pm</option>
				<option value="4pm">4pm</option>
				<option value="5pm">5pm</option>
				<option value="6pm">6pm</option>
				<option value="7pm">7pm</option>
				<option value="8pm">8pm</option>
				<option value="9pm">9pm</option>
				<option value="10pm">10pm</option>
				<option value="11pm">11pm</option>
				<option value="12am">12am</option>
	        </select>
	    </label>
	    <a href="#" class="button">Add Goal</em></a>
	  </div>
</div>