/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require_tree .
 */



.center{
	text-align: center;
}

header{
	margin-bottom: 40px;
}

#front_button{
	margin-top: 20px;
}

h2, h3{
	color: #2d423b !important;
	font-weight: bold !important;
}

h2{
	font-size: 2rem !important;
}

label.first{
	margin-top: 20px;
}

#chart{
	height: 500px;
}

.button{
	background-color: #336600 !important;
	border-color: #b928db !important;
	border-radius: 4px !important;
	color: #fff !important;
	text-shadow: #2d423b 2px 2px 1px !important;
	font-weight: bold !important;
}

.top-bar ul li a{
	text-align: center;
	background: #fff !important;
	color: #2d423b !important;
	font-size: 14pt !important;
}

.top-bar ul.left.nav-white{
	margin-left: 20px !important;
}

.top-bar ul li a:hover, .top-bar ul li a:focus{
	border-bottom: 2px solid #30a83a;
}

.top-bar-section ul{
	background: #fff !important;
}
nav{
	margin-right: 20px;
}
.somethinglog{
	width: 200px !important;
}

