
/*Ali's base*/

.center{
	text-align: center;
}

#front_button{
	margin-top: 20px;
}

h2{
	font-size: 2rem !important;
}

label.first{
	margin-top: 20px;
}

#chart{
	height: 500px;
}

/* Meghan's Stylesheet */ 

header{
	margin: 20px 30px 40px 20px;
	background-color: #fff;
	color: #000;
}

#logo{
 width:106px;
 height:35px;
 background-image: url(image-path("logo.png"));
}
#background{
	background-image: url(image-path("backgroundrun.png"));
	background-position: center;
}

.top-bar{
	background: #fff;
	color: #000;
}

.top-bar ul li a {
	background-color: #fff !important;
	color: #000 !important;
	font-size: 16px;
}

.kashi {
	 background-image: url(image-path("kashi.jpg"));
	 background-size: 100%;
	 background-repeat: no-repeat;
}

.pfitness {
	 background-image: url(image-path("planetfitness.jpg"));
	 background-size: 45%;
	 background-repeat: no-repeat;
	 margin-top: 5px;
}

.solixir {
	 background-image: url(image-path("solixir.jpg"));
	 background-size: 35%;
	 background-repeat: no-repeat;
	 margin-top: 5px;
}

.wholefoods {
	 background-image: url(image-path("wholefoods.png"));
	 background-size: 90%;
	 background-repeat: no-repeat;
}










