
<div class="row content">
  <div class="small-12 column">
  	<%= link_to "New Thought", new_thought_path %>
  	<br>
  	<br>
  		<% @thoughts.each do |thought| %>
    		<table>
    			<th>
    				<td>Thought Date</td>
    			</th>
    				<tr>
      				<td><%= thought.id %></td>
    					<td><%= thought.created_at.strftime("%d %b, %Y") %><td>
      				<td><%= link_to "view", thought %></td>  
    				</tr>
  			</table>
  		<% end %>		
  	</div>
</div>