<<<<<<< Updated upstream
<div class="row mood">
  <div class="small-1 column">
    <label>Mood</label>
  </div>
  <div class="small-3 column">
    <select>
      <option value="cycling">Happy</option>
      <option value="walking">Sad</option>
      <option value="running">Mad</option>
    </select>
  </div>
  <div class="small-8 column"><i class="fa fa-smile-o"></i></div>
</div>

<div class="row page-nav">
  <div class="small-6 column">
    <a href="#" class="previous">Previous</a>
  </div>

  <div class="small-6 column">
    <div class="right">
      <a href="#">
        <i class="fa fa-pencil fa-2x"></i>
      </a>
      <a href="#">
        <i class="fa fa-film fa-2x"></i>
      </a>
      <a href="#">
        <i class="fa fa-camera-retro fa-2x"></i>
      </a>
    </div>
  </div>
</div>

<div class="row content">
  <div class="small-12 column">
    <h2>April 26, 2014</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus at lorem non egestas. Aliquam mollis vel velit vitae tincidunt. Aliquam et tristique lectus. Aliquam erat volutpat. Mauris placerat quis orci sed consectetur. Maecenas scelerisque risus sagittis arcu interdum luctus. Proin tincidunt cursus nibh vel tristique. Suspendisse mollis ornare justo, et tempus urna viverra quis. Phasellus est justo, facilisis dapibus blandit in, interdum at lorem. Integer sollicitudin in ipsum ac pulvinar.</p>

    <p>Vestibulum id ante blandit, varius felis sed, pretium urna. Aliquam aliquam ligula vitae tincidunt egestas. Mauris nec felis lorem. Sed sodales vitae quam id luctus. Mauris sagittis tortor vel venenatis scelerisque. Praesent a scelerisque eros. Aliquam feugiat lectus non lectus placerat consectetur. Donec id tellus egestas, pharetra augue at, auctor risus. Ut mattis porttitor massa, sed dictum lacus tempor vel. Donec eleifend leo odio, eget blandit justo faucibus ac. Quisque sit amet dolor aliquam, ornare nulla venenatis, commodo tortor. Ut tempus tortor vel leo gravida sagittis. Integer quam enim, egestas sit amet nisl vitae, mattis bibendum quam. Praesent ullamcorper ullamcorper turpis vel hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer et vehicula leo, id mattis enim.</p>

    <p>Etiam consequat volutpat justo, quis eleifend massa elementum id. Nam ornare fermentum magna at tincidunt. Cras dictum magna non velit varius auctor. Nullam venenatis pretium justo ac sodales. Ut non est sed nibh eleifend aliquet sed ut nunc. Proin pellentesque nibh quis erat mollis lobortis. Donec eleifend mi at nulla egestas pretium. In tincidunt ut enim at varius. Mauris pretium sapien at egestas vehicula.</p>
  </div>
</div>
=======
<div class="small-7 columns">
<h1>Thoughts</h1>
<p>Record your thoughts daily</p>

<a href="#">Previous Post</a>

<h2>April 27, 2014</h2>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
>>>>>>> Stashed changes
